
 <div class="row border">
    <img src="{{this.image}}" class="w-10 col-md-5" alt="{{this.author}}">
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.author}}</p>
                <p class="card-text">{{this.description}}</p>
                 
            </div>
           <a href="/return/{{this._id}}" class="btn btn-warning">Return</a>
        </div>
         
    </div>